.patientDetail {
  display: flex;
  flex-direction: column;
}
.patientTable > table {
  width: 97%;
  min-width: auto;
  margin-left: 1rem;
  margin-top: 5px;
}

.patientTable > table > thead > tr > td {
  background-color: #282b2f;
  color: grey;
  font-weight: bold;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  border: 2px solid #22252a;
  border-collapse: collapse;
  height: 3rem;
  text-wrap: nowrap;
}
.patientTable > table > tbody > tr > td {
  background-color: #282b2f;
  color: rgb(110, 110, 110);
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  border: 2px solid #22252a;
  border-collapse: collapse;
  height: 3rem;
  text-wrap: nowrap;
}
td {
  border: 1px solid grey;
}
.patientTable > table > tbody > tr > td:hover {
  background-color: #21252b;
}

td > a > button {
  color: white;
  background-color: #007bff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  transition-duration: 0.5s;
  cursor: pointer;
}
td > a > button:hover {
  background-color: #0058b6;
}
.editIcon {
  color: #0058b6;
  font-size: 1.1rem;
  cursor: pointer;
}
.paymentIcon {
  color: #007bff;
}
