.wrapper {
  margin-left: 3rem;
  margin-top: -3rem;
}

.wrapper_child {
  width: 49.5%;
  min-width: 30rem;
  display: flex;
  flex-direction: row;
}

.wrapper_child_1 > p {
  font-size: 1.2rem;
  font-weight: 100;
  color: grey;
}

.wrapper_child_1 > div {
  margin-top: -1rem;
  color: grey;
}

.wrapper_child_1 > div > a {
  text-decoration: none;
  color: #007bff;
}
/*------------------- input section ------------------]*/

.firstInputSection {
  display: flex;
  flex-direction: row;
  width: 99%;
  gap: 25px;
}

.firstInputSection > div > input {
  width: 98%;
  padding: 0.4rem 0.4rem;
  background-color: var(--background-color-navyblue);
  border: 1px solid rgb(70, 70, 70);
  border-radius: 3px;
}

/*--------------- payment Detail Section -------------------*/
.paymentDetailSection > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 74rem;
  background-color: #282b2f;
  line-height: 5px;
  border-radius: 5px;
  color: rgb(167, 167, 167);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
