.topWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-top: -2rem;
}
.patientText {
  font-size: 1.2rem;
  color: rgb(153, 153, 153);
}
.hospitalName {
  color: rgb(145, 145, 145);
  margin-left: 1.5rem;
}
.hospitalName > a {
  color: #007bff;
  text-decoration: none;
  margin-left: 8px;
}
.hospitalName > a:hover {
  color: #005ec2;
}
.firstGrid {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-left: 2rem;
  color: grey;
}
.firstGridElem {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: -1px;
}

.firstGridElem > div > input,
select,
option {
  padding: 0.4rem 0.6rem;
  color: grey;
  height: 1.5rem;
  width: 85%;
  background-color: #22252a;
  border: 1px solid rgb(80, 80, 80);
  margin-top: -1rem;
}
.firstGridElem > div > input:focus {
  color: orange;
}
.firstGridElem > div > select {
  height: 2.3rem;
}
.submitButton {
  background-color: #007bff;
  margin-left: 2rem;
  margin-top: 1rem;
}
.submitButton:hover {
  background-color: #005ec2;
}
